@media (max-width: 1000px) {

.title {
    color: dimgray;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 48pt;
    font-family: 'Titillium Web', sans-serif;    
    width: 100%;
  }

.students, .industry {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Titillium Web', sans-serif;   
    font-size: 32pt;
    width: 100%;
}

.space {
    margin-top: 30px;
    font-size: 28pt;
    
}
}

@media (min-width: 1000px) {

.title {
    color: dimgray;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 28pt;
    font-family: 'Titillium Web', sans-serif;
  }

.students, .industry {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
}
}

.space {
    margin-top: 30px;
    font-size: 28pt;
    
}